@model ForensicBones100.Models.InventarioCranio

@{
    ViewData["Title"] = "Edit";
}

<div class="tituloPage m-3 text-center">
    <h4><b>RELATÓRIO DE ANTROPOLOGIA FORENSE - INVENTÁRIO DO CRÂNIO</b></h4>

</div>
<hr />
<div class="row m-5">
    <div class="row-cols">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-lg-3 col-md-4 col-sm-6">
                <label asp-for="Relatorio.Codigo" class="control-label"></label>
                <select asp-for="RelatorioCranioId" class="form-control text-center" asp-items="ViewBag.RelatorioCranioId"></select>
                <span asp-validation-for="Relatorio.Codigo" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-3 col-md-4 col-sm-6">
                <label asp-for="FotosCranio" class="control-label"></label>
                <input asp-for="FotosCranio" class="form-control" />
                <span asp-validation-for="FotosCranio" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-3 col-md-4 col-sm-6">
                <label asp-for="Observacoes" class="control-label"></label>
                <input asp-for="Observacoes" class="form-control" />
                <span asp-validation-for="Observacoes" class="text-danger"></span>
            </div>

            <div class="row mt-5">

                <div class="form-group col-lg-6 col-md-8 col-sm-12 mb-3">
                    <div class="custom-bg-color d-flex  p-3">
                        <div class="mr-3 pe-1" style="flex: 1;">
                            <label asp-for="Frontal" class="control-label"></label>
                            <input asp-for="Frontal" class="form-control" />
                            <span asp-validation-for="Frontal" class="text-danger"></span>
                        </div>
                        <div style="flex: 1;">
                            <label asp-for="FrontalDesc" class="form-check-label">Descrição</label>
                            <input asp-for="FrontalDesc" class="form-control" />
                            <span asp-validation-for="FrontalDesc" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-lg-6 col-md-8 col-sm-12 mb-3">
                    <div class="custom-bg-color d-flex  p-3">
                        <div class="mr-3 pe-1" style="flex: 1;">
                            <label asp-for="Ocipital" class="control-label"></label>
                            <input asp-for="Ocipital" class="form-control" />
                            <span asp-validation-for="Ocipital" class="text-danger"></span>
                        </div>
                        <div style="flex: 1;">
                            <label asp-for="OcipitalDesc" class="form-check-label">Descrição</label>
                            <input asp-for="OcipitalDesc" class="form-control" />
                            <span asp-validation-for="OcipitalDesc" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-lg-6 col-md-8 col-sm-12 mb-3">
                    <div class="custom-bg-color d-flex  p-3">
                        <div class="mr-3 pe-1" style="flex: 1;">
                            <label asp-for="Esfenoide" class="control-label"></label>
                            <input asp-for="Esfenoide" class="form-control" />
                            <span asp-validation-for="Esfenoide" class="text-danger"></span>
                        </div>
                        <div style="flex: 1;">
                            <label asp-for="EsfenoideDesc" class="form-check-label">Descrição</label>
                            <input asp-for="EsfenoideDesc" class="form-control" />
                            <span asp-validation-for="EsfenoideDesc" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-lg-6 col-md-8 col-sm-12 mb-3">
                    <div class="custom-bg-color d-flex  p-3">
                        <div class="mr-3 pe-1" style="flex: 1;">
                            <label asp-for="Maxilar" class="control-label"></label>
                            <input asp-for="Maxilar" class="form-control" />
                            <span asp-validation-for="Maxilar" class="text-danger"></span>
                        </div>
                        <div style="flex: 1;">
                            <label asp-for="MaxilarDesc" class="form-check-label">Descrição</label>
                            <input asp-for="MaxilarDesc" class="form-control" />
                            <span asp-validation-for="MaxilarDesc" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-lg-6 col-md-8 col-sm-12 mb-3">
                    <div class="custom-bg-color d-flex  p-3">
                        <div class="mr-3 pe-1" style="flex: 1;">
                            <label asp-for="Vomer" class="control-label"></label>
                            <input asp-for="Vomer" class="form-control" />
                            <span asp-validation-for="Vomer" class="text-danger"></span>
                        </div>
                        <div style="flex: 1;">
                            <label asp-for="VomerDesc" class="form-check-label">Descrição</label>
                            <input asp-for="VomerDesc" class="form-control" />
                            <span asp-validation-for="VomerDesc" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-lg-6 col-md-8 col-sm-12 mb-3">
                    <div class="custom-bg-color d-flex  p-3">
                        <div class="mr-3 pe-1" style="flex: 1;">
                            <label asp-for="ParietalEsquerdoDesc" class="control-label"></label>
                            <input asp-for="ParietalEsquerdoDesc" class="form-control" />
                            <span asp-validation-for="ParietalEsquerdoDesc" class="text-danger"></span>
                        </div>
                        <div style="flex: 1;">
                            <label asp-for="ParietalEsquerdoDesc" class="form-check-label">Descrição</label>
                            <input asp-for="ParietalEsquerdoDesc" class="form-control" />
                            <span asp-validation-for="ParietalEsquerdoDesc" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-lg-6 col-md-8 col-sm-12 mb-3">
                    <div class="custom-bg-color d-flex  p-3">
                        <div class="mr-3 pe-1" style="flex: 1;">
                            <label asp-for="TemporalEsquerdo" class="control-label"></label>
                            <input asp-for="TemporalEsquerdo" class="form-control" />
                            <span asp-validation-for="TemporalEsquerdo" class="text-danger"></span>
                        </div>
                        <div style="flex: 1;">
                            <label asp-for="TemporalEsquerdoDesc" class="form-check-label">Descrição</label>
                            <input asp-for="TemporalEsquerdoDesc" class="form-control" />
                            <span asp-validation-for="TemporalEsquerdoDesc" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-lg-6 col-md-8 col-sm-12 mb-3">
                    <div class="custom-bg-color d-flex  p-3">
                        <div class="mr-3 pe-1" style="flex: 1;">
                            <label asp-for="ConchaNasalInferiorEsquerda" class="control-label"></label>
                            <input asp-for="ConchaNasalInferiorEsquerda" class="form-control" />
                            <span asp-validation-for="ConchaNasalInferiorEsquerda" class="text-danger"></span>
                        </div>
                        <div style="flex: 1;">
                            <label asp-for="ConchaNasalInferiorEsquerdaDesc" class="form-check-label">Descrição</label>
                            <input asp-for="ConchaNasalInferiorEsquerdaDesc" class="form-control" />
                            <span asp-validation-for="ConchaNasalInferiorEsquerdaDesc" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-lg-6 col-md-8 col-sm-12 mb-3">
                    <div class="custom-bg-color d-flex  p-3">
                        <div class="mr-3 pe-1" style="flex: 1;">
                            <label asp-for="Etmoide" class="control-label"></label>
                            <input asp-for="Etmoide" class="form-control" />
                            <span asp-validation-for="Etmoide" class="text-danger"></span>
                        </div>
                        <div style="flex: 1;">
                            <label asp-for="EtmoideDesc" class="form-check-label">Descrição</label>
                            <input asp-for="EtmoideDesc" class="form-control" />
                            <span asp-validation-for="EtmoideDesc" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-lg-6 col-md-8 col-sm-12 mb-3">
                    <div class="custom-bg-color d-flex  p-3">
                        <div class="mr-3 pe-1" style="flex: 1;">
                            <label asp-for="LacrimalEsquerdo" class="control-label"></label>
                            <input asp-for="LacrimalEsquerdo" class="form-control" />
                            <span asp-validation-for="LacrimalEsquerdo" class="text-danger"></span>
                        </div>
                        <div style="flex: 1;">
                            <label asp-for="LacrimalEsquerdoDesc" class="form-check-label">Descrição</label>
                            <input asp-for="LacrimalEsquerdoDesc" class="form-control" />
                            <span asp-validation-for="LacrimalEsquerdoDesc" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-lg-6 col-md-8 col-sm-12 mb-3">
                    <div class="custom-bg-color d-flex  p-3">
                        <div class="mr-3 pe-1" style="flex: 1;">
                            <label asp-for="NasalEsquerdo" class="control-label"></label>
                            <input asp-for="NasalEsquerdo" class="form-control" />
                            <span asp-validation-for="NasalEsquerdo" class="text-danger"></span>
                        </div>
                        <div style="flex: 1;">
                            <label asp-for="NasalEsquerdoDesc" class="form-check-label">Descrição</label>
                            <input asp-for="NasalEsquerdoDesc" class="form-control" />
                            <span asp-validation-for="NasalEsquerdoDesc" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-lg-6 col-md-8 col-sm-12 mb-3">
                    <div class="custom-bg-color d-flex  p-3">
                        <div class="mr-3 pe-1" style="flex: 1;">
                            <label asp-for="ZigomaticoEsquerdo" class="control-label"></label>
                            <input asp-for="ZigomaticoEsquerdo" class="form-control" />
                            <span asp-validation-for="ZigomaticoEsquerdo" class="text-danger"></span>
                        </div>
                        <div style="flex: 1;">
                            <label asp-for="ZigomaticoEsquerdoDesc" class="form-check-label">Descrição</label>
                            <input asp-for="ZigomaticoEsquerdoDesc" class="form-control" />
                            <span asp-validation-for="ZigomaticoEsquerdoDesc" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-lg-6 col-md-8 col-sm-12 mb-3">
                    <div class="custom-bg-color d-flex  p-3">
                        <div class="mr-3 pe-1" style="flex: 1;">
                            <label asp-for="ParietalDireito" class="control-label"></label>
                            <input asp-for="ParietalDireito" class="form-control" />
                            <span asp-validation-for="ParietalDireito" class="text-danger"></span>
                        </div>
                        <div style="flex: 1;">
                            <label asp-for="ParietalDireitoDesc" class="form-check-label">Descrição</label>
                            <input asp-for="ParietalDireitoDesc" class="form-control" />
                            <span asp-validation-for="ParietalDireitoDesc" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-lg-6 col-md-8 col-sm-12 mb-3">
                    <div class="custom-bg-color d-flex  p-3">
                        <div class="mr-3 pe-1" style="flex: 1;">
                            <label asp-for="TemporalDireito" class="control-label"></label>
                            <input asp-for="TemporalDireito" class="form-control" />
                            <span asp-validation-for="TemporalDireito" class="text-danger"></span>
                        </div>
                        <div style="flex: 1;">
                            <label asp-for="TemporalDireitoDesc" class="form-check-label">Descrição</label>
                            <input asp-for="TemporalDireitoDesc" class="form-control" />
                            <span asp-validation-for="TemporalDireitoDesc" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-lg-6 col-md-8 col-sm-12 mb-3">
                    <div class="custom-bg-color d-flex  p-3">
                        <div class="mr-3 pe-1" style="flex: 1;">
                            <label asp-for="ConchaNasalInferiorDireita" class="control-label"></label>
                            <input asp-for="ConchaNasalInferiorDireita" class="form-control" />
                            <span asp-validation-for="ConchaNasalInferiorDireita" class="text-danger"></span>
                        </div>
                        <div style="flex: 1;">
                            <label asp-for="ConchaNasalInferiorDireitaDesc" class="form-check-label">Descrição</label>
                            <input asp-for="ConchaNasalInferiorDireitaDesc" class="form-control" />
                            <span asp-validation-for="ConchaNasalInferiorDireitaDesc" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-lg-6 col-md-8 col-sm-12 mb-3">
                    <div class="custom-bg-color d-flex  p-3">
                        <div class="mr-3 pe-1" style="flex: 1;">
                            <label asp-for="LacrimalDireito" class="control-label"></label>
                            <input asp-for="LacrimalDireito" class="form-control" />
                            <span asp-validation-for="LacrimalDireito" class="text-danger"></span>
                        </div>
                        <div style="flex: 1;">
                            <label asp-for="LacrimalDireitoDesc" class="form-check-label">Descrição</label>
                            <input asp-for="LacrimalDireitoDesc" class="form-control" />
                            <span asp-validation-for="LacrimalDireitoDesc" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-lg-6 col-md-8 col-sm-12 mb-3">
                    <div class="custom-bg-color d-flex  p-3">
                        <div class="mr-3 pe-1" style="flex: 1;">
                            <label asp-for="NasalDireito" class="control-label"></label>
                            <input asp-for="NasalDireito" class="form-control" />
                            <span asp-validation-for="NasalDireito" class="text-danger"></span>
                        </div>
                        <div style="flex: 1;">
                            <label asp-for="NasalDireitoDesc" class="form-check-label">Descrição</label>
                            <input asp-for="NasalDireitoDesc" class="form-control" />
                            <span asp-validation-for="NasalDireitoDesc" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-lg-6 col-md-8 col-sm-12 mb-3">
                    <div class="custom-bg-color d-flex  p-3">
                        <div class="mr-3 pe-1" style="flex: 1;">
                            <label asp-for="ZigomaticoDireito" class="control-label"></label>
                            <input asp-for="ZigomaticoDireito" class="form-control" />
                            <span asp-validation-for="ZigomaticoDireito" class="text-danger"></span>
                        </div>
                        <div style="flex: 1;">
                            <label asp-for="ZigomaticoDireitoDesc" class="form-check-label">Descrição</label>
                            <input asp-for="ZigomaticoDireitoDesc" class="form-control" />
                            <span asp-validation-for="ZigomaticoDireitoDesc" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-lg-6 col-md-8 col-sm-12 mb-3">
                    <div class="custom-bg-color d-flex  p-3">
                        <div class="mr-3 pe-1" style="flex: 1;">
                            <label asp-for="Hioide" class="control-label"></label>
                            <input asp-for="Hioide" class="form-control" />
                            <span asp-validation-for="Hioide" class="text-danger"></span>
                        </div>
                        <div style="flex: 1;">
                            <label asp-for="HioideDesc" class="form-check-label">Descrição</label>
                            <input asp-for="HioideDesc" class="form-control" />
                            <span asp-validation-for="HioideDesc" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-lg-6 col-md-8 col-sm-12 mb-3">
                    <div class="custom-bg-color d-flex  p-3">
                        <div class="mr-3 pe-1" style="flex: 1;">
                            <label asp-for="CartilagemTireoide" class="control-label"></label>
                            <input asp-for="CartilagemTireoide" class="form-control" />
                            <span asp-validation-for="CartilagemTireoide" class="text-danger"></span>
                        </div>
                        <div style="flex: 1;">
                            <label asp-for="CartilagemTireoideDesc" class="form-check-label">Descrição</label>
                            <input asp-for="CartilagemTireoideDesc" class="form-control" />
                            <span asp-validation-for="CartilagemTireoideDesc" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-lg-6 col-md-8 col-sm-12 mb-3">
                    <div class="custom-bg-color d-flex  p-3">
                        <div class="mr-3 pe-1" style="flex: 1;">
                            <label asp-for="Mandibula" class="control-label"></label>
                            <input asp-for="Mandibula" class="form-control" />
                            <span asp-validation-for="Mandibula" class="text-danger"></span>
                        </div>
                        <div style="flex: 1;">
                            <label asp-for="MandibulaDesc" class="form-check-label">Descrição</label>
                            <input asp-for="MandibulaDesc" class="form-control" />
                            <span asp-validation-for="MandibulaDesc" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <a class="btn btn-secondary m-3" asp-action="Index">Inventários</a>
                    <input type="submit" value="Alterar" class="btn custom-button-card" />
                </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
